body{
  background-image:url('../media/g.png');
  background-position:center;
  background-color:black;
  font-family: Arial, sans-serif;
  background-repeat: no-repeat;
  padding: 2em;
}
#title{
  font-size:3em;
  padding: 0.2em;
  color:white;
  letter-spacing: 0.047rem;
  text-shadow: 0.1em 0.1em #00aa00;
}
h1{
  text-align: center;
  font-size:2.4em;
  font-family:'Times New Roman',serif;
  padding: 20px;
}
p{
  color:white;
  
}
.genCont{
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);;
  width:90%;
}

.formSpec{
  text-align: center;
  flex-direction:column;
}

@media only screen and (min-width: 480px){
  body{
  background-image:url('../media/bg.png');
  }
  #title{
  text-shadow: 0.1em 0.1em #0000aa;
  }
}


@media only screen and (min-width: 768px){
  body{
  background-image:url('../media/rgb.png');
  }
  #title{
  text-shadow: 0.1em 0.1em #aa0000;
  }
}