body{
  background-image:url('../media/g.png');
  background-position:center;
  background-color:black;
  font-family: Arial, sans-serif;
  background-repeat: no-repeat;
  padding: 2em;
}
#title{
  font-size:3em;
  padding: 0.2em;
  color:white;
  letter-spacing: 0.047rem;
  text-shadow: 0.1em 0.1em #00aa00;
}
h1{
  text-align: center;
  font-size:2.4em;
  font-family:'Times New Roman',serif;
  padding: 20px;
}
p{
  color:white;
}
.genCont{
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  width:90%;
}
.formSpec{
  text-align: center;
  flex-direction:column;
  padding: 0.1em
}
form{
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

label{
  display:flex;
  flex-direction:column;
  padding: 0.2em;
  color:white;
}
input{
  width:100%;
  border-radius:5px;
  font-size:1.2em;
}
button{
  width:100%;
  padding:10px; 
  font-size:1.5em;
  text-align:center;
}
button:hover{
  transition: 0.25s;
  background-color: #666;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 5);
}
p{
  padding:0.5em;
}
@media only screen and (min-width: 480px){
  body{
  background-image:url('../media/bg.png');
  }
  #title{
  text-shadow: 0.1em 0.1em #0000aa;
  }
  h1{
    font-size:2.779em;
    padding: 15px;
  }
  .genCont{
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    width:80%;
  }
  button{
    width:80%;
    padding:0.5em; 
    font-size:1.5em;
    text-align:center;
  }
}
@media only screen and (min-width: 768px){
  body{
  background-image:url('../media/rgb.png');
  }
  #title{
  text-shadow: 0.1em 0.1em #aa0000;
  }
  h1{
    font-size:4.632em;
    padding: 10px;
  }
  .genCont{
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    width:60%;
  }
  button{
    width:50%;
    padding:0.5em; 
    font-size:1.5em;
    text-align:center;
  }
}